@import "tailwindcss";

body {
    @apply bg-gray-900 text-white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@keyframes jiggle {
    0% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}

.animate-jiggle {
    animation: jiggle 0.2s infinite;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}